.node-body {
    border: 1px solid green;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 2px 10px;
    width: 15dvw;
    word-break: break-all;

    cursor: pointer;
}

.node-children {
    margin-left: 50px;
}

.node-body:hover {
    opacity: 0.6;
}

.selected {
    background-color: rgb(104, 219, 104);
}
