.manager-btns {
    background-color: white;
    border: 1px solid green;
    color: green;
    border-radius: 8px;
    height: 4dvh;
    width: 10dvw;
    font-size: 1.5dvw;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.5s;
}

.manager-btns:hover {
    opacity: 0.6;
    background-color: #efefef;
}

.manager-btns:active {
    opacity: 0.8;
}

*:disabled {
    background-color: dimgrey !important;
    color: white !important;
    border: 1px solid white !important;
}

*:disabled:hover {
    background-color: dimgrey !important;
    cursor: no-drop !important;
}

*:disabled:active {
    opacity: 1 !important;
}
